.segment{color: darkblue;}
#maintitle{text-align: center;}
#maintitle{font-size: 55px;}
#maintitle{border-bottom: 10px double darkgray;}
p{font-size: 20px;}
body{background-color: rgb(245, 245, 220)}
p{margin-left: 20px;}
p{border-bottom: 6px double gray}
p{font-family: "Times New Roman", Times, serif;}
h2 {font-family: Georgia, Helvetica, sans-serif;}